JWT_PASSPHRASE=jwtpassphrase
JWT_REFRESH_PASSPHRASE=refreshpassphrase
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin
DB_NAME=conversation
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=2